<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phase3.recipe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Create" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".user_prof"
            android:label="@string/userProf" />
        <activity
            android:name=".recipes"
            android:label="@string/rec" />
        <activity
            android:name=".saved_rec"
            android:label="@string/saved" />
        <activity
            android:name=".seven_plan"
            android:label="@string/plan" />
        <activity
            android:name=".track"
            android:label="@string/track" />
        <activity
            android:name=".group"
            android:label="@string/Group" />
        <activity
            android:name=".help"
            android:label="@string/Help" />
        <activity android:name=".logout" />
        <activity
            android:name=".specific1"
            android:label="Recipe">
        </activity>
    </application>

</manifest>